altgraph==0.17
arcade==2.5.6
attrs==21.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cx-Freeze==6.5.3
DAWG-Python==0.7.2
docopt==0.6.2
Flask==1.1.2
Flask-Login==0.5.0
Flask-WTF==0.14.3
future==0.18.2
getkey==0.6.5
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
importlib-metadata==3.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
keyboard==0.13.5
MarkupSafe==1.1.1
numpy==1.20.1
pefile==2019.4.18
Pillow==8.2.0
pycparser==2.20
pygame==2.0.1
pyglet==1.5.16
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.404381.4453942
pymunk==6.0.0
PyQt5==5.13.0
PyQt5-sip==12.8.1
python-dotenv==0.14.0
pytiled-parser==0.9.4a3
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
schedule==1.0.0
Shapely==1.7.1
SQLAlchemy==1.4.5
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.4.0
