@font-face {
    font-family: May;
    src: url(fonts/May-Regular/May-Regular.ttf);
}

* {
    font-family: May;
}

#list-group {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#poge-type {
    font-size: 1.2rem;
    float: left;
}

@media (min-width: 700px) {
    #profile-info {
        margin-top: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    #profile-1 {
        display: block;
    }
    
    #profile-2 {
        display: none;
    }
    
    #profile-info #accordion-item h2 button{
        font-size: 1.3rem;
    }

    #profile-container {
        margin-top: 20px;
        width: 80%;
        padding: 2% 2%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1.3rem;
    }

    #profile-photo {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    #profile-header {
        text-align: center;
        font-weight: 900;
        font-size: 2rem;
    }
    
    #profile-photo-2 {
        display: none;
    }
    
    #profile-photo-1 {
        display: block;
    }
}

@media (max-width: 700px) {
    #profile-1 {
        display: none;
    }
    
    #profile-2 {
        display: block;
    }
    
    #profile-info {
        margin-top: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    #profile-info #accordion-item h2 button{
        font-size: 1.3rem;
    }

    #profile-container {
        margin-top: 20px;
        width: 80%;
        padding: 2% 2%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1.3rem;
    }
    
    #profile-photo-2 {
        display: block;
    }
    
    #profile-photo-1 {
        display: none;
    }
    
    #profile-photo {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    #profile-header {
        text-align: center;
        font-weight: 900;
        font-size: 2rem;
    }
}

form {
    width: 70%;
    justify-content: center;
}

form .btn {
    font-size: 1.5rem;
}

.alert {
    margin-top: 10px;
    font-size: 1.2rem;
}

form label {
    font-size: 1.5rem;
    font-weight: 900;
}

.news {
    width: 95%;
    padding-right: 5%;
    padding-left: 5%;
}

.card-title {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.news .card-text {
    font-size: 20px;
}

.text-muted {
    font-size: 17px;
}

.heros .col .btn{
    font-size: 1.4rem;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .logo {
        width: 290px;
    }
    .logo img {
        width: 60px;
        height: 60px;
    }
    .span1 {
        font-size: 20px;
        margin-top: 20px;
    }
    .navbar-toggler {
        display: none;
    }
    .navbar-collapse {
        display: none
    }
    #navbar-nav-2 {
        display: flex;
    }
    #carouselExampleDark .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 50px;
    }
    #carouselExampleDark .carousel-inner .carousel-item .carousel-caption p {
        font-size: 30px;
    }
    .main-card {
        font-size: 40px;
    }
}

@media (max-width: 360px) {
    footer .d-grid .btn{
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .span1 {
        font-size: 20px;
        margin-top: 10px;
    }
    .logo {
        width: 260px;
    }
    .logo img {
        width: 30px;
        height: 30px;
    }
    .navbar-toggler {
        display: block;
        margin-top: 10px;
    }
    #navbar-nav-2 {
        display: none;
    }
    #carouselExampleDark .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 20px;
    }
    #carouselExampleDark .carousel-inner .carousel-item .carousel-caption p {
        font-size: 10px;
    }
    .main-card {
        font-size: 20px;
    }
}

.main-card {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.main-card .card-header {
    text-align: center;
    font-weight: bold;
}

.main-card .card-body {
    text-align: center;
    font-weight: 700;
}

#h2 {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

#navbar-nav-2 {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20%;
}

footer {
    margin-top: 20px;
}

footer .nav {
    padding-top: 10px;
}

footer .btn {
    font-size: 2.5rem;
}

footer .register-button {
    margin-bottom: 20px;
}

footer .d-grid {
    padding-top: 20px;
    text-align: center;
}

#my-nav-item {
    margin-right: 5%;
}

.nav-link {
    font-size: 30px;
}

#carouselExampleDark {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

footer .nav i {
    font-size: 2rem;
}

#carouselExampleDark .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 40px;
    padding: 20px 20px;
}

.span1 {
    display: inline-block;
}

.logo {
    background-color: maroon;
    padding: 10px 10px;
}