{% extends 'base.html' %} 
{% block content %}
    <h2 id='h2'>Книга</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 news heros" style="margin: 0 auto;">
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100"> <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <a href="#" class="btn btn-primary">Смотреть статью...</a>
            <div class="card-footer"> <small class="text-muted">Last updated 3 mins ago</small> </div>
        </div>
    </div>
</div>
{% endblock %}