{% extends "base.html" %} {% block content %}
<h2 id='h2'>Новая страница книги памяти</h2>
<form action='' method="post" style='margin: 0 auto;' enctype=multipart/form-data> {{ form.hidden_tag() }}
    <div class="mb-3"> {{ form.header.label(class="form-label") }} {{ form.header(style='font-size: 1.4rem;', type="text", class="form-control") }} </div>
    <div class="mb-3"> {{ form.about.label(class="form-label") }} {{ form.about(style='font-size: 1.4rem;', class="form-control", rows='3') }} </div>
    {% for elem in form.content %}
        <div class="mb-3">
         {{ elem['header'].label(class="form-label") }}
         <!--{{ elem['imgs'][0].label(class='form-label') }}-->
        </div>
         <!--{% if elem['imgs'][1] %}
           <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                   {% for item in elem['imgs'] %}
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ loop.index - 1 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                   {% for item in elem['imgs'] %}
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{{ item }}" class="d-block w-100" alt="not found">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="elem-content">
            {{ elem['content'](style='font-size: 1.4rem;', class="form-control", rows="15") }}
        </div>
        </div>
    {% endfor %}
        <div class="col-12">
        <button type="submit" class="btn btn-primary">Отправить страницу на модерацию</button>
    </div>-->
</form> {% endblock %}