{% extends "base.html" %} {% block content %}
<h2 id='h2'>Новость</h2>
<div>
    <form action='' method="post" style='margin: 0 auto;' enctype="multipart/form-data">
       <h3 id='h3' style='margin-top: 40px; margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;'>Информация о странице</h3>
        <div class="mb-3">
            {{ main_form.header.label(class="form-label") }} {{ main_form.header(style='font-size: 1.4rem;', type="text", class="form-control") }} 
        </div>
        <div class="mb-3">
            {{ main_form.about.label(class="form-label") }} {{ main_form.about(style='font-size: 1.4rem;', class="form-control", rows='3') }}
        </div>
        <h3 id='h3' style='margin-top: 40px;
       margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;'>Содержание страницы</h3> 
            <div class="mb-3">
               <button type="button" class="btn btn-success btn-sm" style='font-size: 1.3rem; display: block; margin: 0 auto; margin-bottom: 20px;' onclick="document.location='/adding_part/news${{news.id}}$0'">Добавить раздел</button>
               {% if json['content'] %}
                <ol class="list-group list-group-numbered">
                   {% for elem in json['content'] %}
                    <li class="list-group-item" style='font-size: 1.6rem;'>{{ elem['header'] }} 
                       <div class="buttons">
                          <button type="button" class="btn btn-primary btn-sm" style='font-size: 1.3rem;' onclick="document.location='/edit_news/{{news.id}}${{loop.index - 1}}'">Перейти в раздел</button>
                           <button type="button" class="btn btn-success btn-sm" style='font-size: 1.3rem;' onclick="document.location='/adding_part/news${{news.id}}${{loop.index}}'">Добавить раздел</button>
                            <button type="button" class="btn btn-danger btn-sm" style='font-size: 1.3rem;' onclick="document.location='/delete_part/news${{news.id}}${{loop.index}}'">Удалить раздел</button>
                       </div>
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="mb-3"> 
              {{ part_form.part_header.label(class="form-label") }} {{ part_form.part_header(style='font-size: 1.4rem;', type="text", class="form-control") }} 
               <div class="mb-3">
                   {{ part_form.load_image.label(class="form-label", style='margin-top: 20px;') }} {{ part_form.load_image(style='font-size: 1.4rem; width: 30%;', class="form-control", type="file") }}
               </div>
                {% if part_form.img_lst %}
                <!--<div>{{ part_form.img_lst }}</div>-->
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style='width: 60%; margin: 0 auto; margin-top: 20px;'>
                    <div class="carousel-inner">
                       <div class="carousel-item active" data-bs-interval="10000"> <img src="../{{part_form.img_lst[0]}}" class="d-block w-100" alt="..."> </div>{% for path in part_form.img_lst[1:] %}
                        <div class="carousel-item" data-bs-interval="10000"> <img src="../{{path}}" class="d-block w-100" alt="..."> </div> {% endfor %} </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span> </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
                </div> {% endif %} {{ part_form.content.label(class="form-label", style='margin-top: 20px;') }} {{ part_form.content(class="form-control", rows='15', style='font-size: 1.4rem;') }}
                </div>{% endif %}
        <div class="col-12" id=page-buttons>
           {{ main_form.submit(type='submit', class='btn btn-primary btn-lg', id='save-page-btn') }}
        </div>
    </form>
</div> {% endblock %}